body{
    width: 100%;
    height: 100%;
}
.menu_principal{
    width: 100%;
    background-color: #262626;
    height: 60px;
} 
main{
    margin: 0% auto;
    width: 980px;
    position: relative;
}
.logo{
    float: left;
    padding: 15px;
    width: 76%;
}
.redes_sociais ul li{
    margin-left: 13px;
    display: inline-block;
    float: left;
    list-style: none;
}
.redes_sociais {
    width: 20%;
    float: right;
} 
.header-2{
    background-color: white;
    width: 100%;
}
.menu ul li {
    display: inline-block;
    color: silver;
    margin-right: 20px;
}
.menu ul li:hover {
    border-bottom: 2px solid brown;
}
.menu ul li a:hover{
    color: brown;
}
.menu ul li a {
    color: silver;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}
.imagem{
    background-color: black;
    text-align: center;
}