* {
    margin: 0;
    padding: 0;
    background-color: silver;
}
#tituloH1{
    font-family: sans-serif;
    color: brown;
    margin-left: 0.5cm;
    margin-top: 0.5cm;
    font-size: 60px;
}
#tituloH3-1{
    font-family: sans-serif;
    color: skyblue;
    margin-left: 0.5cm;
    margin-top: 0.8cm;
    font-size: 30px;
}
fieldset{
    border: 0;
}
#paragrafo1{
    background-color: white;
    margin: -400px 50px 400px 825px;
    border: 1px solid black ;
}
#tituloH3-2{
    background-color: crimson;
    font-family: sans-serif;
    color: rgb(44, 71, 17);
    font-size: 30px;
    text-align: center;
    margin-top: 0.5cm;
}
#paragrafo2{
   margin: 20px 600px 10px 50px;
}