* {
    margin: 0;
    padding: 0;
    background-color: silver;
}
#tituloH1{
    font-family: sans-serif;
    color: brown;
    margin-left: 0.5cm;
    margin-top: 0.5cm;
}
#tituloH3-1{
    font-family: sans-serif;
    color: skyblue;
    margin-left: 0.5cm;
    margin-top: 0.8cm;
}
.grupo1{
    border: 0;
}
#paragrafo1{
    background-color: white;
    margin: 10px 10px 10px;
}