*{
    margin: 0;
    padding: 0;
}
#titulo{
    font-family: sans-serif;
    color: chartreuse;
    margin-left: 7%;
}
#subtitulo{
    font-family: sans-serif;
    color: chocolate;
    margin-left: 10%;
}