*{
    margin: 0;
    padding: 0;
}
#titulo{
    font-family: sans-serif;
    color: chartreuse;
    margin-left: 7%;
}
#subtitulo{
    font-family: sans-serif;
    color: chocolate;
    margin-left: 10%;
}
fieldset{
    border: 0;
}
body{
    background-color: brown;
    font-family: sans-serif;
    font-style: 1em;
    color: cornsilk;
    margin-left: 33%;
    margin-top: 2%;
    justify-content: center;
}
input, select, textarea, button{
    border-radius: 5px;
}
.campo{
    margin-bottom: 1em;
}
.campo label{
    margin-bottom: 0.2em;
    color: rgb(170, 114, 170);
}
#fieldset.grupo .campo{
    float: left;
    margin-right: 1em;
}
.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea{
    padding: 0.2em;
    border: 1px solid blue;
    box-shadow: 2px 2px 2px blue (154, 122, 122, 0.2);
    display:block;
}
.campo select option{
    padding-left: 1em;
}
.campo input:focus, .campo select:focus, .campo textarea:focus{
    background: darkorange;
}
.botao {
    font-size: 1.2em;
    background: deeppink;
    border: 0;
    margin-bottom: 1em;
    color: gainsboro;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
    position: absolute;
    top: 200%;
    left: 50%;
    margin-right: -50;
    transform: translate(-50%, -50%)
}
.botao:hover{
    background: seagreen;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0);
    text-shadow: nane;
}